matplotlib
numpy
pexpect==4.8.0
pyserial==3.5
riotctrl==0.5.0
scikit_learn
scipy
tabulate==0.9.0
tensorflow
tflite
Twisted==22.10.0
torch
torchvision
iotlabcli==3.3.0
iotlabsshcli==1.1.0
decorator
attrs
typing-extensions
tornado
psutil
xgboost>=1.1.0
cloudpickle
